$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// =====
// GENERAL STYLES
// =====

// colors
$white: #fff;
$purple: #8824cd;
$dark-blue: #2e3b4e;
// end of colors

// backgrounds
.dark-blue {
  background-color: $dark-blue;
}
// end of backgrounds

// buttons
.btn-search {
  background: url("../images/icon-search.png") center no-repeat;
  &:hover {
    background: url("../images/icon-search-hover.png") center no-repeat;
  }
}

.btn-purple { // not used
  padding: 18px 40px;
  background-color: $purple;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  box-shadow: inset 0px 1px 1px 0px;
  @include transition(.5s);
  &:hover,
  &:focus{
    color: #fff;
    box-shadow: inset 0px -1px 1px 0px;
  }
}

.btn-transparent {
  padding: 6px 25px;
  background-color: transparent;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  border: 2px solid $white;
  border-radius: 30px;
  @include transition(.5s);
  &:hover,
  &:focus{
    color: #fff;
    box-shadow: inset 0px 0px 15px 1px;
  }
}
// end of buttons

// helper classes
.padding-left-0 { // padding-left: 0px - for container-fluid
  @media (min-width: $screen-sm-min) {
    padding-left: 0;
  }
}

.padding-right-0 { // padding-right: 0px - for container-fluid
  @media (min-width: $screen-sm-min) {
    padding-right: 0;
  }
}
// end of helper classes

* {
  outline: 0 !important;
}

.text-section { // section without image (only text)
  padding-top: 60px;
  padding-bottom: 10px;
  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .text-section__caption {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15px;
    color: $white;
  }
  .text-section__content {
    font-family: 'Open Sans';
    font-size: 15px;
    color: $white;
    line-height: 26px;
    margin-bottom: 50px;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

.picture-text-section { // section with picture
  display: table-row;
  &.picture-left {
    .section-image {
      float: left;
    }
  }
  &.picture-right {
    .section-image {
      float: right;
    }
  }
  .section-image {
    display: table-cell;
    vertical-align: middle;
    min-width: 550px;
  }
  .picture-text-section__content-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
    @media (max-width: $screen-xs-max) {
      padding: 15px 20px 0 20px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      padding: 25px 50px 15px 50px;
    }
    .picture-text-section__caption {
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 15px;
      color: #3a4d60;
    }
    .picture-text-section__content {
      line-height: 30px;
      font-family: 'Open Sans';
      font-size: 19px;
      color: #3a4d60;
      margin-bottom: 25px;
      @media (max-width: $screen-xs-max) {
        font-size: 15px;
      }
    }
    .picture-text-section__sub-content {
      line-height: 26px;
      font-family: 'Open Sans';
      font-size: 15px;
      color: #3a4d60;
    }
  }
}
// =====
// END OF GENERAL STYLES
// =====

// =====
// INTRO
// =====
.intro {
  padding-top: 25px;
  background: url("../images/bg-intro.jpg") bottom no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  @media (max-width: $screen-xs-max) {
    padding-top: 0;
  }
  .navbar {
    box-shadow: inset 0 -1px 0px 0 rgba(255, 255, 255, 0.1);
    .navbar-toggle {
      .icon-bar {
        background-color: #fff;
      }
    }
    .navbar-brand {
      margin-left: 200px;
      @media (max-width: $screen-xs-max) {
        margin-top: 3px;
        margin-left: 0;
      }
      @media (max-width: $screen-md-max) {
        padding-top: 19px;
        margin-left: 0;
      }
    }
    .navbar-nav {
      @media (max-width: $screen-xs-max) {
        margin-top: 0;
        margin-bottom: 0;
      }
      li {
        margin-left: 20px;
        margin-right: 20px;
        font-family: 'Open Sans';
        font-size: 13px;
        @media (max-width: $screen-xs-max) {
          margin: 0;
        }
        a {
          padding-left: 0;
          padding-right: 0;
          font-size: 13px;
          color: $white;
          border-bottom: 2px solid transparent;
          padding-bottom: 40px;
          @include transition(.5s);
          &:hover {
            background-color: transparent;
            border-bottom: 2px solid $white;
          }
          @media (max-width: $screen-xs-max) {
            text-align: center;
            padding-bottom: 10px;
            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
              border-bottom: 2px solid transparent;
            }
          }
        }
      }
      .search {
        margin-top: 3px;
        width: 200px;
        @media (max-width: $screen-sm-max) {
          width: 150px;
        }
        .form-control {
          padding: 20px 12px 23px 12px;
          border-color: #fff;
          border-top-left-radius: 23px;
          border-bottom-left-radius: 23px;
          font-size: 12px;
          box-shadow: none;
          &::-webkit-input-placeholder {font-family: 'Open Sans'; font-size: 12px; color: #626262;}
          &::-moz-placeholder {font-family: 'Open Sans'; font-size: 12px; color: #626262;}/* Firefox 19+ */
          &:-moz-placeholder {font-family: 'Open Sans'; font-size: 12px; color: #626262;}/* Firefox 18- */
          &:-ms-input-placeholder {font-family: 'Open Sans'; font-size: 12px; color: #626262;}
          &:focus {
            border-color: #fff;
            box-shadow: none;
          }
        }
        .btn-search {
          padding: 20px 24px 23px 12px;
          border-top-right-radius: 23px;
          border-bottom-right-radius: 23px;
          background-color: #fff;
        }
      }
    }
  }
  .intro__content {
    margin-top: 100px;
    float: left;
    text-align: right;
    @media (max-width: $screen-sm-max) {
      margin-top: 50px;
      float: none;
      text-align: center;
    }
    .intro__content-title {
      line-height: 70px;
      font-family: 'Open Sans';
      font-size: 50px;
      color: $white;
      @media (max-width: $screen-xs-max) {
        br {display: none;}
        line-height: 50px;
        font-size: 30px;
      }
    }
    .intro__content__footer {
      float: right;
      text-align: center;
      @media (max-width: $screen-sm-max) {
        float: none;
      }
      .intro__content__footer-sign {
        margin-top: 10px;
        font-family: 'Open Sans';
        font-size: 12px;
        color: $white;
      }
    }
  }
}
// =====
// END OF INTRO
// =====

// =====
// B-PHOTO
// =====
.b-photo {
  padding-top: 150px;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  background: url("../images/bg-section-1.png") center  no-repeat;
  background-size: cover;
  height: 400px;
  @media (max-width: $screen-xs-max) {
    padding-top: 20%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-min) {
    padding-top: 10%;
  }
  .b-photo__title {
    font-family: 'Open Sans';
    font-size: 30px;
    color: $white;
    margin-bottom: 20px;
  }
  .img-photo__caption {
    margin-left: 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 13px;
    color: $white;
    @media (max-width: $screen-xs-max) {
      > span {display: none;}
    }
  }
}
// =====
// END OF B-PHOTO
// =====

// =====
// FOOTER
// =====
.footer {
  padding-top: 40px;
  font-family: 'Open Sans';
  font-size: 12px;
  color: $white;
  padding-bottom: 30px;
}
// =====
// END OF FOOTER
// =====